venue-details-page {
  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }
  .item, .item-inner {
    background-color: transparent;
    border-bottom: none !important;
    border-top: none !important;
  }
}
