<ion-header>
  <ion-navbar>
    <ion-title>My Artist Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [formGroup]="artistForm">
    <ion-list-header>How should fans tip you?</ion-list-header>
    <ion-item>
      <ion-label color="primary" floating>Venmo Email (required)</ion-label>
      <ion-input [(ngModel)]="artistEmail" type="email" maxlength="254" formControlName="email"></ion-input>
    </ion-item>
    <p *ngFor="let error of formErrors.email" class="valError">{{error}}</p>
    <ion-item>
      <ion-label color="primary" floating>Artist Name (required)</ion-label>
      <ion-input maxlength="50" formControlName="name" [(ngModel)]="artistName"></ion-input>
    </ion-item>
    <p *ngFor="let error of formErrors.name" class="valError">{{error}}</p>
  </ion-list>
  <p class="valError" [hidden]="fieldsRequiredMessageHidden">Both fields are required.</p>
</ion-content>
